<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- 系统ID -->
    <add key="SystemID" value="B00C074F-FCE0-4228-BC6E-CE7E46B78743" />
    <!-- 系统编码，由统一权限系统中定义 -->
    <add key="SystemCode" value="SRLS" />
    <!-- 控制打开窗口的数量，默认是 5 -->
    <add key="WindowsCount" value="5" />
    <!-- 附件服务器地址 -->
    <add key="AttachURL" value="http://152.141.153.247:9003/" />
    <!-- 附件最大限制,单位为M -->
    <add key="AttachMaxSize" value="20" />
    <!-- 导出 Excel 每个 Worksheet 显示最大行数 -->
    <add key="SheetRowsCount" value="50000" />
    <!-- 同步时间 时:分  HH:MM -->
    <add key="SynchronizateTime" value="01:00" />
    <!-- 系统版本 用于升级 -->
    <add key="AppUpdateName" value="MCD.RLPlanning.LiveUpdate.exe" />
    <add key="AppVersion" value="1.0.1.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:01:00" openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="01:11:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- RLP Services Start -->
      <endpoint name="ILogService" address="http://152.141.153.247:9002/LogService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ILogService" />
      <!-- 任务管理 -->
      <!-- 基础信息 -->
      <endpoint name="IAreaService" address="http://152.141.153.247:9002/Master/AreaService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.IAreaService" />
      <endpoint name="ICompanyService" address="http://152.141.153.247:9002/Master/CompanyService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ICompanyService" />
      <endpoint name="IDeptService" address="http://152.141.153.247:9002/Master/DeptService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.IDeptService" />
      <endpoint name="IUserService" address="http://152.141.153.247:9002/Master/UserService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.IUserService" />
      <endpoint name="IUserCompanyService" address="http://152.141.153.247:9002/Master/UserCompanyService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IUserCompanyService" />
      <endpoint name="IVendorService" address="http://152.141.153.247:9002/Master/VendorService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.IVendorService" />
      <endpoint name="IStoreService" address="http://152.141.153.247:9002/Master/StoreService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.IStoreService" />
      <endpoint name="IKioskService" address="http://152.141.153.247:9002/Master/KioskService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskService" />
      <endpoint name="IAccountService" address="http://152.141.153.247:9002/Master/AccountService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IAccountService" />
      <endpoint name="ITypeCodeService" address="http://152.141.153.247:9002/Master/TypeCodeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.ITypeCodeService" />
      <endpoint name="IContractService" address="http://152.141.153.247:9002/ContractMg/ContractService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ContractMg.IContractService" />
      <endpoint name="IEntityService" address="http://152.141.153.247:9002/ContractMg/EntityService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ContractMg.IEntityService" />
      <endpoint name="IFixedRuleService" address="http://152.141.153.247:9002/ContractMg/FixedRuleService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ContractMg.IFixedRuleService" />
      <endpoint name="IRatioRuleService" address="http://152.141.153.247:9002/ContractMg/RatioRuleService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ContractMg.IRatioRuleService" />
      <!-- 预测销售数据 -->
      <endpoint name="ISalesService" address="http://152.141.153.247:9002/ForecastSales/SalesService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ForecastSales.ISalesService" />
      <!-- 预测租金计算 -->
      <endpoint name="ISalesCalculate" address="http://152.141.153.247:9002/SalesCalculate/SalesCalculate.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.SalesCalculate.ISalesCalculate" />
      <!-- 关帐 -->
      <endpoint name="ICloseAccountService" address="http://152.141.153.247:9002/PlanningSnapshot/CloseAccountService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.PlanningSnapshot.ICloseAccountService" />
      <!-- 数据同步 -->
      <endpoint name="IScheduleService" address="http://152.141.153.247:9002/Synchronization/ScheduleService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Synchronization.IScheduleService" />
      <!-- 报表管理 -->
      <endpoint name="IReportService" address="http://152.141.153.247:9002/Report/ReportService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Report.IReportService" />
      <endpoint name="IUserOperationService" address="http://152.141.153.247:9002/Report/UserOperationService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Report.IUserOperationService" />
      <!-- 系统设置 -->
      <endpoint name="IEntityTypeService" address="http://152.141.153.247:9002/Setting/EntityTypeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.IEntityTypeService" />
      <endpoint name="IRentTypeService" address="http://152.141.153.247:9002/Setting/RentTypeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.IRentTypeService" />
      <endpoint name="ISystemParameterService" address="http://152.141.153.247:9002/Setting/SystemParameterService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.ISystemParameterService" />
      <!-- 权限管理服务部分 Start -->
      <endpoint name="BasicHttpBinding_IGroupService" address="http://152.141.153.247:9001/GroupService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="UUPGroupService.IGroupService" />
      <endpoint name="BasicHttpBinding_IModuleService" address="http://152.141.153.247:9001/ModuleService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="UUPModuleService.IModuleService" />
      <endpoint name="BasicHttpBinding_IPopedomService" address="http://152.141.153.247:9001/PopedomService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="UUPPopedomService.IPopedomService" />
      <!-- 权限管理服务部分 End -->
      <endpoint name="ITaskServices" address="http://152.141.153.247:9002/Task/TaskServices.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ITaskServices" />
      <endpoint name="ISelectService" address="http://152.141.153.247:9002/Common/SelectService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ISelectService" />
      <endpoint name="IWorkflowService" address="http://152.141.153.247:9002/Workflow/WorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Workflow.IWorkflowService" />
      <endpoint name="IAttachmentsService" address="http://152.141.153.247:9002/Setting/AttachmentsService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.IAttachmentsService" />
      <!-- Kiosk Begin -->
      <endpoint name="IKioskSalesCollectionService" address="http://152.141.153.247:9002/Master/KioskSalesCollectionService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskSalesCollectionService" />
      <endpoint name="IKioskStoreRelationChangHistoryService" address="http://152.141.153.247:9002/Master/KioskStoreRelationChangHistoryService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskStoreRelationChangHistoryService" />
      <endpoint name="IKioskSalesService" address="http://152.141.153.247:9002/Master/KioskSalesService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskSalesService" />
      <!-- Kiosk End -->
      <endpoint name="ICALService" address="http://152.141.153.247:9002/APGL/CALService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.APGL.ICALService" />
      <endpoint name="IAPService" address="http://152.141.153.247:9002/APGL/APService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.APGL.IAPService" />
      <endpoint name="IGLService" address="http://152.141.153.247:9002/APGL/GLService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.APGL.IGLService" />
      <endpoint name="IGLAdjustmentService" address="http://152.141.153.247:9002/Master/GLAdjustmentService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IGLAdjustmentService" />
      <endpoint name="ICommonService" address="http://152.141.153.247:9002/Common/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Common.ICommonService" />
      <!-- 执行SQL -->
      <endpoint name="ISqlHelper" address="http://152.141.153.247:9002/Common/SqlHelperService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.Common.ISqlHelper" />
      <!-- 执行SQL End -->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>