<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- 系统编码，由统一权限系统中定义 -->
    <add key="SystemCode" value="SRLS"/>
    <!-- 系统ID -->
    <add key="SystemID" value="B00C074F-FCE0-4228-BC6E-CE7E46B78743" />
    <!-- 控制打开窗口的数量，默认是 5 -->
    <add key="WindowsCount" value="5" />
    <!-- 附件服务器地址 -->
    <add key="AttachURL" value="http://localhost:8080/" />
    <!-- 附件最大限制,单位为M -->
    <add key="AttachMaxSize" value="20" />
    <!-- 导出 Excel 每个 Worksheet 显示最大行数 -->
    <add key="SheetRowsCount" value="50000" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:01:00"
     openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="00:11:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" closeTimeout="00:01:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>

      <!-- 权限管理服务部分 Start -->
      <endpoint address="http://localhost/UUPService/GroupService.svc"
       binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig"
       contract="UUPGroupService.IGroupService" name="BasicHttpBinding_IGroupService"/>
      <endpoint address="http://localhost/UUPService/ModuleService.svc"
       binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig"
       contract="UUPModuleService.IModuleService" name="BasicHttpBinding_IModuleService"/>
      <endpoint address="http://localhost/UUPService/PopedomService.svc"
       binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig"
       contract="UUPPopedomService.IPopedomService" name="BasicHttpBinding_IPopedomService" />
      <!-- 权限管理服务部分  bindingConfiguration="basicHttpBinding"END -->

      <!-- 系统服务部分 Start -->
      <endpoint address="http://localhost/SRLSService/Master/SyncService.svc"
   binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
   contract="MCD.SRLS.IServices.Master.ISyncService" name="ISyncService" />
      <endpoint address="http://localhost/SRLSService/Master/DeptService.svc"
     binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IDeptService" name="IDeptService" />
      <endpoint address="http://localhost/SRLSService/Master/CompanyService.svc"
     binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.ICompanyService" name="ICompanyService" />
      <endpoint address="http://localhost/SRLSService/Master/VendorService.svc"
     binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IVendorService" name="IVendorService" />
      <endpoint address="http://localhost/SRLSService/Master/StoreService.svc"
     binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IStoreService" name="IStoreService" />
      <endpoint address="http://localhost/SRLSService/Master/AreaService.svc"
     binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IAreaService" name="IAreaService" />
      <endpoint address="http://localhost/SRLSService/LogService.svc" binding="basicHttpBinding"
      contract="MCD.SRLS.IServices.ILogService" bindingConfiguration="basicHttpBinding"
     name="ILogService" />
      <endpoint address="http://localhost/SRLSService/MSISService.svc" binding="basicHttpBinding"
   contract="MCD.SRLS.IServices.IMSISService" bindingConfiguration="basicHttpBinding"
     name="IMSISService" />
      <endpoint address="http://localhost/SRLSService/Master/UserService.svc"
     binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IUserService" name="IUserService" />
      <endpoint address="http://localhost/SRLSService/Master/RepresentService.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IRepresentService" name="IRepresentService" />
      <endpoint address="http://localhost/SRLSService/RemindMg/MattersTypeService.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IMattersTypeService" name="IMattersTypeService" />
      <endpoint address="http://localhost/SRLSService/RemindMg/MattersRemindService.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IMattersRemindService" name="IMattersRemindService" />
      <endpoint address="http://localhost/SRLSService/UploadServices.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IUploadServices" name="IUploadServices" />
      <endpoint address="http://localhost/SRLSService/Task/TaskServices.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.ITaskServices" name="ITaskServices" />
      <endpoint address="http://localhost/SRLSService/UserOperationService.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.IUserOperationService" name="IUserOperationService" />
      <endpoint address="http://localhost/SRLSService/Common/SelectService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.ISelectService" name="ISelectService" />
      <endpoint address="http://localhost/SRLSService/Master/WorkDateService.svc"
      binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.Master.IWorkDateService" name="IWorkDateService" />
      <endpoint address="http://localhost/SRLSService/Master/AccountService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.Master.IAccountService" name="IAccountService" />
      <endpoint address="http://localhost/SRLSService/Master/RentTypeService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.Master.IRentTypeService" name="IRentTypeService" />
      <endpoint address="http://localhost/SRLSService/Workflow/WorkflowService.svc" binding="basicHttpBinding"
     bindingConfiguration="basicHttpBinding"
      contract="MCD.SRLS.IServices.Workflow.IWorkflowService" name="IWorkflowService" />
      <endpoint address="http://localhost/SRLSService/ContractMg/ContractService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.ContractMg.IContractService" name="IContractService" />
      <endpoint address="http://localhost/SRLSService/Report/ReportService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.Report.IReportService" name="IReportService" />
      <endpoint address="http://localhost/SRLSService/Sys/CloseAccountService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.Sys.ICloseAccountService" name="ICloseAccountService" />
      <endpoint address="http://localhost/SRLSService/ContractMg/EntityService.svc" binding="basicHttpBinding"
      bindingConfiguration="basicHttpBinding"
       contract="MCD.SRLS.IServices.ContractMg.IEntityService" name="IEntityService" />
      <endpoint address="http://localhost/SRLSService/Master/EntityTypeService.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.Master.IEntityTypeService" name="IEntityTypeService" />
      <endpoint address="http://localhost/SRLSService/Master/RejectTypeService.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding"
     contract="MCD.SRLS.IServices.Master.IRejectTypeService" name="IRejectTypeService" />
      <endpoint address="http://localhost/SRLSService/Sys/SystemParameterService.svc" binding="basicHttpBinding"
  bindingConfiguration="basicHttpBinding"
   contract="MCD.SRLS.IServices.Sys.ISystemParameterService" name="ISystemParameterService" />
      <endpoint address="http://localhost/SRLSService/Master/TypeCodeService.svc" binding="basicHttpBinding"
   bindingConfiguration="basicHttpBinding"
    contract="MCD.SRLS.IServices.Master.ITypeCodeService" name="ITypeCodeService" />
      <endpoint address="http://localhost/SRLSService/Sys/AttachmentsService.svc" binding="basicHttpBinding"
 bindingConfiguration="basicHttpBinding"
contract="MCD.SRLS.IServices.Sys.IAttachmentsService" name="IAttachmentsService" />
      <!-- Kiosk Begin -->
      <endpoint address="http://localhost/SRLSService/Master/KioskSalesCollectionService.svc" binding="basicHttpBinding"
     bindingConfiguration="basicHttpBinding"
      contract="MCD.SRLS.IServices.Master.IKioskSalesCollectionService" name="IKioskSalesCollectionService" />
      <endpoint address="http://localhost/SRLSService/Master/KioskStoreRelationChangHistoryService.svc" binding="basicHttpBinding"
 bindingConfiguration="basicHttpBinding"
  contract="MCD.SRLS.IServices.Master.IKioskStoreRelationChangHistoryService" name="IKioskStoreRelationChangHistoryService" />
      <endpoint address="http://localhost/SRLSService/Master/KioskSalesService.svc" binding="basicHttpBinding"
     bindingConfiguration="basicHttpBinding"
      contract="MCD.SRLS.IServices.Master.IKioskSalesService" name="IKioskSalesService" />
      <endpoint address="http://localhost/SRLSService/Master/SRLS_TB_Master_KioskService.svc" binding="basicHttpBinding"
                 bindingConfiguration="basicHttpBinding"
                  contract="MCD.SRLS.IServices.Master.ISRLS_TB_Master_KioskService" name="ISRLS_TB_Master_KioskService" />
      <!-- Kiosk End -->
      <endpoint address="http://localhost/SRLSService/ContractMg/FixedRuleService.svc" binding="basicHttpBinding"
       bindingConfiguration="basicHttpBinding"
        contract="MCD.SRLS.IServices.ContractMg.IFixedRuleService" name="IFixedRuleService" />
      <endpoint address="http://localhost/SRLSService/ContractMg/RatioRuleService.svc" binding="basicHttpBinding"
 bindingConfiguration="basicHttpBinding"
  contract="MCD.SRLS.IServices.ContractMg.IRatioRuleService" name="IRatioRuleService" />
      <endpoint address="http://localhost/SRLSService/APGL/CALService.svc" binding="basicHttpBinding"
 bindingConfiguration="basicHttpBinding"
  contract="MCD.SRLS.IServices.APGL.ICALService" name="ICALService" />
      <endpoint address="http://localhost/SRLSService/APGL/APService.svc" binding="basicHttpBinding"
     bindingConfiguration="basicHttpBinding"
      contract="MCD.SRLS.IServices.APGL.IAPService" name="IAPService" />
      <endpoint address="http://localhost/SRLSService/APGL/GLService.svc" binding="basicHttpBinding"
 bindingConfiguration="basicHttpBinding"
  contract="MCD.SRLS.IServices.APGL.IGLService" name="IGLService" />
      <endpoint address="http://localhost/SRLSService/Master/GLAdjustmentService.svc" binding="basicHttpBinding"
       bindingConfiguration="basicHttpBinding" contract="MCD.SRLS.IServices.Master.IGLAdjustmentService" name="IGLAdjustmentService" />
      <endpoint address="http://localhost/SRLSService/Master/EmailListService.svc" binding="basicHttpBinding"
 bindingConfiguration="basicHttpBinding" contract="MCD.SRLS.IServices.Master.IEmailListService" name="IEmailListService" />
      <!-- 执行SQL -->
      <endpoint address="http://localhost/SRLSService/Common/SqlHelperService.svc" binding="basicHttpBinding"
                 bindingConfiguration="basicHttpBinding"
                  contract="MCD.SRLS.IServices.Common.ISqlHelper" name="ISqlHelper" />
      <!-- 执行SQL End -->
      <!-- 系统服务部分 End -->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>