<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外， 
    还可以使用 Web 管理工具来配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--企业库数据访问配置节-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <!-- BIN下的相对路径 -->
    <add key="XmlConfigPath" value="XmlConfig" />
	<add key="ServerSavePath" value="UploadFiles" />
  </appSettings>
  <connectionStrings>
	  <add name="DBConnection" connectionString="Data Source=152.141.153.223;Initial Catalog=RLPlan;User id=rluser;Password=rluser;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--Microsoft Enterprice Library-->
  <dataConfiguration defaultDatabase="DBConnection"/>
  <system.web>
    <!--
            设置 compilation debug="true" ，将调试符号 
            插入已编译的页面中。但由于这会影响性能， 
           因此请只在开发过程中 
            将此值设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            ASP.NET 使用的安全身份验证 
            模式，以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="120"/>
    <!--
            通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
           应执行的操作。 
            具体说来，开发人员通过该节 
            可以配置要显示的 html 错误页 
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" 
			closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" 
			bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647"
			messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
			maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding" 
			closeTimeout="00:01:00" openTimeout="00:11:00" receiveTimeout="00:10:00" sendTimeout="01:11:00"
			bypassProxyOnLocal="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard"
			maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
			messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" 
			maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.LogService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ILogService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Report.UserOperationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.Report.IUserOperationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.AreaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.IAreaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.CompanyService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.ICompanyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.DeptService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.IDeptService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.UserService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.UserCompanyService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.Master.IUserCompanyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.VendorService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.IVendorService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.StoreService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.IStoreService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.AccountService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IAccountService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.TypeCodeService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.ITypeCodeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.ContractMg.ContractService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.ContractMg.IContractService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Setting.EntityTypeService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.IEntityTypeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Setting.SystemParameterService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.ISystemParameterService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Task.TaskServices">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.ITaskServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.SelectService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.ISelectService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Setting.RentTypeService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.IRentTypeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Workflow.WorkflowService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Workflow.IWorkflowService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.ContractMg.EntityService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          contract="MCD.RLPlanning.IServices.ContractMg.IEntityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.KioskSalesCollectionService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskSalesCollectionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.KioskSalesService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskSalesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.KioskStoreRelationChangHistoryService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskStoreRelationChangHistoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.KioskService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IKioskService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.ContractMg.FixedRuleService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.ContractMg.IFixedRuleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.ContractMg.RatioRuleService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.ContractMg.IRatioRuleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Report.ReportService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Report.IReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Master.GLAdjustmentService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Master.IGLAdjustmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.PlanningSnapshot.CloseAccountService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.PlanningSnapshot.ICloseAccountService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.Common.CommonService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Common.ICommonService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
		<service behaviorConfiguration="ServiceBehavior" name="MCD.RLPlanning.Services.ForecastSales.SalesService">
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MCD.RLPlanning.IServices.ForecastSales.ISalesService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
      <service behaviorConfiguration="MCD.RLPlanning.Services.Setting.AttachmentsServiceBehavior"
        name="MCD.RLPlanning.Services.Setting.AttachmentsService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Setting.IAttachmentsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MCD.RLPlanning.Services.APGL.APServiceBehavior"
        name="MCD.RLPlanning.Services.APGL.APService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.APGL.IAPService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MCD.RLPlanning.Services.APGL.GLServiceBehavior"
        name="MCD.RLPlanning.Services.APGL.GLService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.APGL.IGLService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MCD.RLPlanning.Services.APGL.CALServiceBehavior"
        name="MCD.RLPlanning.Services.APGL.CALService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.APGL.ICALService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MCD.RLPlanning.Services.SalesCalculate.SalesCalculateBehavior"
        name="MCD.RLPlanning.Services.SalesCalculate.SalesCalculate">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.SalesCalculate.ISalesCalculate">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MCD.RLPlanning.Services.Synchronization.ScheduleServiceBehavior"
        name="MCD.RLPlanning.Services.Synchronization.ScheduleService">
        <endpoint address="" binding="basicHttpBinding" contract="MCD.RLPlanning.IServices.Synchronization.IScheduleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="MCD.RLPlanning.Services.Setting.AttachmentsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MCD.RLPlanning.Services.APGL.APServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MCD.RLPlanning.Services.APGL.GLServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MCD.RLPlanning.Services.APGL.CALServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MCD.RLPlanning.Services.SalesCalculate.SalesCalculateBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MCD.RLPlanning.Services.Synchronization.ScheduleServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>