<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--Microsoft Enterprice Library-->
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>
	<appSettings>
		<add key="SynchronizateTime" value="01:00" />
    </appSettings>
	<connectionStrings>
		<!--Microsoft Enterprice Library-->
		<add name="DBConnection" connectionString="Data Source=152.141.153.223;Initial Catalog=RLP;User id=rluser;Password=rluser;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!--Microsoft Enterprice Library-->
	<dataConfiguration defaultDatabase="DBConnection" />
</configuration>